:root{
    --navcol: rgb(6, 6, 103);
    --maincolor: rgb(235, 235, 245);
    --sidecolor: rgb(176, 176, 246);
    --bodycolor: rgb(249, 240, 240);
}

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Prop+Single+Ink:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Bitcount Prop Single Ink", system-ui;
}

body{
    background-color: var(--bodycolor);
}


ul {
    display: flex;
    list-style: none;
    padding: 12px 0px;
    background-color: var(--navcol);
    color: white;
    font-weight: bold;
}

ul li{
    padding: 23px;
}

a{
    text-decoration: none;
    background-color: var(--navcol);
    color: white;
}

.container{
    display: flex;
}

.sidebar{
    width: 30vw;
    height: 100vh;
    overflow: auto;
    padding: 5px 10px;
    background-color: var(--sidecolor);
}

.main{
    width: 80vw;
    padding: 5px 10px;
    background-color: var(--maincolor);
}