*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    border: 1px black;
}

.header{
    font-size: 20px;
    font: bolder;
    width: 100vw;
    height: 10vh;
    padding: 20px;
    /* border: 1px solid black; */
    text-align: center;
    background-color: rgb(218, 218, 101);
    
}

.main{
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(29, 27, 27);
    color: whitesmoke;
    font: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    /* display: flex;
    justify-content: center; */
}

p{
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display: flex;
    justify-content: center; */
}

span{
    color: rgb(252, 4, 4);
}

.footer{
    font-size: 20px;
    font: bolder;
    width: 100vw;
    height: 10vh;
    padding: 20px;
    /* border: 1px solid black; */
    text-align: center;
    background-color: rgb(218, 218, 101);
}



/* img{
    width: 250px;
    display: flex;
    justify-content: center;
    
} */