*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    border: 1px black;
}

.header{
    background-color: rgb(218, 218, 101);
    padding: 20px;
    text-align: center;
}

.main{
    background-color: rgb(40, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

    
}

.text{
    /* width: 50vw;
    height: 90vh; */
    color: white;
}

.footer{
    background-color: rgb(218, 218, 101);
    padding: 20px;
    text-align: center;
}