*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
    font-family: 'Segoe UI';
}


ul {
    list-style: none;
    display: flex;
    gap: 23px;
    align-items: center;
    /* padding-right: 200px; */
} 

ul li{
    /* padding: 32px; */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo{
    /* padding: 52px 20px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding-left: 200px; */
    
}

img{
    width: 140px;

}

.en{
    display: flex;
    align-items: center;
}

.padding {
    padding: 0px 2px;
}